<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio_6</title>
</head>
<body>
    <thead>
        <h1>Operacione Matematica</h1>
    </thead>
    <section>
        
        <div>
            <label for="suma">suma</label>
            <input type="radio" name="operacion" id="suma">
        </div>
        
        <div>
            <label for="resta">Resta</label>
            <input type="radio" name="operacion" id="resta">
        </div>

    </section>

    <section>
        <div>
            <label for="resultado">resultado</label>

        </div>
    </section>
</body>
</html>