
.uno { color: #FF6600 }
.dos {color: #FF6666 }
.tres {color:#FF66FF }


.parrafo_generico { 
	font-size: 40px; 
	font-family: arial; 
	background: #FF6600 
	}
.dos {	
	font-size: 30px; 
	font-family: arial; 
	background: #666600 
	}
.tres {color:#FF66FF }

.label
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 6px;
    FONT: bold 13px arial;
    COLOR: #00559a;
    /*TEXT-ALIGN: right*/
}
.clasediv_padre {
	/*
	height:40%;
	width:50%;  
	*/
	display: flex;
	justify-content: center;

}
.clasediv_hijo {
	text-align: center;
	BACKGROUND-COLOR: #FFD968;
	padding: 10px;
	margin: 10px;
  	height:30%;
	width:30%;
}

.FondoPagina
{
    BACKGROUND-POSITION: center;
    BACKGROUND-ATTACHMENT: fixed ;
    BACKGROUND-IMAGE: url(itu_vitual_blanco.png);
    BACKGROUND-REPEAT: no-repeat; 
    BACKGROUND-COLOR: #e1ddd2;
}
