<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio_9</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <script rel="javascript" type="text/javascript"  src="static/jquery-1.11.1.min.js"></script>
</head>
    <body>
        <section class="nombres">
            <h1>Ordenar lista de 5 nombres</h1>

            <div>
                <label for="nombre1" >Nombre 1</label>
                <input type="text" id="nombre1" placeholder="nombre 1">
            </div>
            <div>
                <label for="nombre2">Nombre 2</label>
                <input type="text" id="nombre2" placeholder="nombre2">
            </div>
            <div>
                <label for="nombre3">Nombre 3</label>
                <input type="text" id="nombre3" placeholder="nombre 3">
            </div>
            <div>
                <label for="nombre4">Nombre 4</label>
                <input type="text" id="nombre4" placeholder="nombre 3">
            </div>
            <div>
                <label for="nombre5">Nombre 5</label>
                <input type="text" id="nombre5" placeholder="nombre 5">
            </div>
            <button class="boton" onclick="ordenar()">Ordenar</button>

            <table class="ordenada" >
                <thead><tr><th>Nombres ordenados</th></tr></thead>
                <tbody id="lista"></tbody>

            </table>
            <label id="mensaje"></label>
        </section>


    </body>
</html>