.datos{
    border: solid ;
    background-color: aqua;
    width: 700px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }
    
    /* 
    .datos label {
    margin-bottom: 5px;
    font-weight: bold;
}
    .datos div {
        margin-bottom: 10px;
    }
    

.datos input[type="number"],
.datos input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.datos input[type="button"] {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}
 */