<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="static/script.js"></script>
    <title>Parcial_2</title>
</head>
<body>
    <section class="datos_muebles">
        <h1>Registro de Inmuebles</h1>
        <h2>Datos personales</h2>
        <div>
            <label for="cuit">Cuit</label>
            <input id="cuit" type="text">
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text">
        </div> 
        <div>
            <label for="apellido" >Apellido</label>
            <input id="apellido" type="text">
        </div>
        <h2>Datos Inmueble</h2>
        <div>
            <label for="inmuebles">Nº de Inmuebles</label>
            <input id="inmuebles" type="number">
        </div>
        <div>
            <label for="valor">Valor Total</label>
            <input  id="valor" type="number">
        </div>
        <h2>Calculos</h2>
        <div>
            <input type="button" value="Calcular Impuesto inmueble" onclick="calcular_impuesto()">
        </div>
        <div>
            <input type="button" value="Calcular promedio Inmueble" onclick="calcular_promedio()">
        </div>
        <div>
            <label id="msj"></label>
        </div>
    </section>
</body>
</html>