/* ======== Estilo general ======== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('img/1350453.png');
    margin: 0;
    padding: 0;
    
    
}

/* ======== Contenedor principal ======== */
.bank-container {
    max-width: 1000px;
    height: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

.bank-container h1 {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #f7f7f7;
}

/* ======== Información del usuario ======== */
.user-info {
    
    background: #f8f9fc;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    border-left: 5px solid #1b3c73;
}


.user-info p {
    margin: 5px 0;
    font-size: 16px;
}

.logout-btn {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #a81f1f;
}

/* ======== Grid de operaciones ======== */
.operations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

/* ======== Tarjetas de operación ======== */
.operation-card {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.operation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.operation-card h2 {
    margin: 0 0
}

.mensaje{
    background: #f8f9fc;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    border-left: 5px solid #1b3c73;    
}