<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egi_2024_Tema_1</title>
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="static/script.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="login">
        <h1>Iniciar secion</h1>
        <div>
            <label for="user">Contraseña</label>
            <input id="user" type="text" placeholder="Usuario">
        </div>
        <div>
            <label for="pasw">Usuario</label>
            <input id="pasw" type="password" placeholder="Contraseña" >
        </div>
        <div>
            <input type="button" value="Inisiar sesion" onclick="inisiar_secion()">
        </div>
        <div>
            <label class="mensaje" id="mensaje"></label>
        </div>

    </section>
</body>
</html>