<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 7 - Análisis de sangre</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/logeo.js"></script>
    <link rel="stylesheet" href="/static/logeo.css">
</head>
<body>
    <div class="login">
    <form>
        <h1>LOG IN</h1>
        <label id="user" >username</label>
        <input type="text">
        <label id="pasw" >Password</label>   
        <input type="password">
        <button onclick="iniciar_sesion();" >Submint</button>
        <label id="mensaje" class="msj"></label>   
    </form>
</div>
</body>
</html>