<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 10</title>
    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="/static/logeo.js"></script>
    <link rel="stylesheet" href="/static/logeo.css">
</head>
<body>
    <div class="login">
        <form>
            <h1>LOG IN</h1>
            <label for="user">username</label>
            <input id="user" type="text">
            <label for="pasw">Password</label>   
            <input id="pasw" type="password">
            <button type="button" onclick="iniciar_sesion();" >Submint</button>
            <label id="mensaje" class="msj"></label>   
        </form>
    </div>
</body>
</html>