header{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

section{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.articulo_1{
    padding: 15px;
    border: 2px solid #000;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    background-image: url("1920-x-1080-hd-b5dm81xdpze6sjbr.webp");
}