<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Login</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/ventas.js"></script>
<link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h2>Login</h2>

    Usuario: <input type="text" id="user"><br><br>
    Clave: <input type="password" id="pasw"><br><br>

    <button onclick="iniciar_sesion()">Ingresar</button>

    <p id="mensaje" style="color:red;"></p>
</body>
</html>
