body{
    margin: 100px;
}

.nombres{
    background-color: bisque;
    margin: auto;
    text-align: center;
    border: solid 1px #000;
    width: 700px;
    height: 750px;
}

.boton{
    margin: 30px;
    width: 100px;
    height: 25px;
}

.ordenada{
    background-color: rgb(167, 167, 167);
    margin: auto;
    border: solid 1px #000;
    width: 500px;
    height: 300px;
}