<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>.:: ITU ::.</title>

<script rel="javascript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="static/operaciones.js" type="text/javascript"></script>

</head>
<body>

NUMERO 1:<input type="text" id="nro1" value=""></input><BR>
NUMERO 2:<input type="text" id="nro2" value=""></input><BR>
<br><br>
OPERACION:
<select id="operacion">
	<option value=0>-</option>
	<option value=1>SUMAR</option>
	<option value=2>RESTAR</option>
</select>
<br><br>
<input type="button" value="HACER EL CALCULO" onclick="enviar_a_calcular()"></input>

<BR><HR><BR>
	<label id="label_mensaje" style='font-size:38px; color:#76333A;font-style: italic;font-weight: bold;'></label>

</body>
</html>
