<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
<title>.:: ITU ::.</title>

		<!--script rel="javascript" type="text/javascript"  src="../jquery-1.11.1.min.js"></script-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

		<script src="static/logeo.js" type="text/javascript" language="javascript"></script>
    </HEAD>
	
<BODY>

	<div align="center">
		<a style='color:#76333A; font-size: 24px; font-weight: bold;'>
			- EJEMPLO DE LOGUEO CON P.O.A. -
		</a>
	</div>
	<BR><HR><BR>
	<div align="center">
		<table>
			<tr>
				<td>
					<label for="nombreUser">Nombre de Usuario: </label>
				</td>
				<td>
					<input type="text" id="nombreUser" value=""><br/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="contraseña">Contraseña: </label>
				</td>
				<td>
					<input type="password" id="contraseña" value=""><br/>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="button" value="INICIAR SESION" onclick="logueo();"/>
				</td>
			</tr>	


		</table>
		<BR><HR><BR>
			<label id="label_mensaje" style='color:#76333A;font-style: italic;font-weight: bold;'></label>
	</div>
	<HR>
</BODY>
</HTML>
