body{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.login{
    text-align: center;
    border: solid #000;
    border-radius: 30px;
    height: 500px;
    width: 400px;
    
}

.mensaje{
    color: red;
}

.temperatura{
    padding: 50px;
    text-align: center;
    border: solid #000;
    height: 300px;
    width: 200px;    
}