table {
    width: 90%;
    border-collapse: collapse ;
    background-color: bisque;
}

th, td {
    border: 1px solid #222;
    padding: 8px;
    text-align: center;
}

button.boton{
    border: 2px solid ;
    display: block;    
    margin: 20px auto;
    background-color: #fc7a7a;
}

img{

    width: 100px ;
}

body{
    background-color: #e9ecef;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.provincia{
    height: 190px;
}

.encabezado{
    background-color: rgb(184, 247, 83);
}